<title>菜单管理</title>

<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a>
			<cite>财务统计</cite>
		</a>
		<a>
			<cite>用户积分明细</cite>
		</a>
	</div>
</div>
<style>
	.layui-inline .layui-input {
		margin-top: 5px;
		padding-right: 30px;
		cursor: pointer;
	}
	.layui-form-label{
		width: 90px!important;
	}

</style>
<div class="layui-fluid">
	<div class="layui-card" style="padding:15px">
		<div class="layui-form" style="padding-bottom: 15px;">
			<div class="layui-row">
				<p class="xxx" style="display: none;">...</p>
				<div class="layui-col-md9">

					<div class="layui-inline">
						<label class="layui-form-label" style="margin-top: 5px;">用户名</label>
						<div class="layui-input-inline">
							<input name="userName" class="layui-input"  placeholder="昵称/手机号">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label" style="margin-top: 5px;">积分获取类型</label>
						<div class="layui-input-inline">
							<select name="type" lay-search >
								<option value="">请选择</option>
								<option value="1">增加</option>
								<option value="2">减少</option>
							</select>
						</div>
					</div>


					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-list" style="margin-top: 5px;" lay-submit lay-filter="LAY-userIntegralRecord-search">
							搜索
						</button>
					</div>
				</div>


			</div>

		</div>
		<table id="LAY-userIntegralRecord-list" lay-filter="LAY-userIntegralRecord-list"></table>
	</div>
</div>
<script>
    layui.use('userIntegralRecord', layui.factory('userIntegralRecord'));

    layui.data.done = function(d) {
        layui.use(['form'], function() {
            var form = layui.form;
            form.render();
        });
    };
</script>