<title>商城</title>

<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a>
			<cite>商城管理</cite>
		</a>
		<a>
			<cite>轮播图</cite>
		</a>
	</div>
</div>
<style>
	.layui-form-select .layui-input {
		margin-top: 5px;
		padding-right: 30px;
		cursor: pointer;
	}
</style>
<div class="layui-fluid">
	<div class="layui-card" style="padding:15px">
		<table id="LAY-swiper-list" lay-filter="LAY-swiper-list"></table>
	</div>
</div>
<script>
    layui.use('swiper', layui.factory('swiper'));
</script>