<title>
    编辑/新增 权限
</title>

<div class="layui-form layui-form-pane">

    <script type="text/html" template>
        <div class="layui-form-item">
            <label class="layui-form-label">福卡类型</label>
            <div class="layui-input-block">
               <select name="type" class="layui-select">
                   <option value="1"{{d.params.type=='1'?'selected':''}}>福卡</option>
                   <option value="2"{{d.params.type=='2'?'selected':''}}>收益卡</option>
               </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="{{ d.params.name || '' }}" lay-verify="required"
                       autocomplete="off" placeholder="请输入福卡名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">图片</label>
            <div class="layui-input-inline">
                <input name="img" id="LAY_avatarSrc" placeholder="图片地址" value="{{ d.params.img || '' }}"
                       class="layui-input">
            </div>
            <div class="layui-input-inline layui-btn-container" style="width: auto;">
                <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">福卡介绍</label>
            <div class="layui-input-block">
                <textarea  name="remark" class="layui-textarea" lay-verify="required" placeholder="请输入福卡介绍">{{ d.params.remark || ''}}</textarea>
            </div>
        </div>

    </script>
    <div class="layui-form-item" align="center" style="margin-top: 35px;">
        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="LAY-cardType-submit">确认提交</button>
    </div>
</div>
<script>
    layui.data.done = function(d) {
        layui.use(['form'], function() {
            var form = layui.form;
            form.render(); //渲染该模板下的动态表单
        });
    };
</script>