<title>
    编辑/新增 权限
</title>

<div class="layui-form layui-form-pane">

    <script type="text/html" template>

        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input" lay-verify="require" placeholder="标题">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
               <textarea name="content" class="layui-textarea" placeholder="请输入私信内容" lay-verify="require"></textarea>
            </div>
        </div>

    </script>
    <div class="layui-form-item" align="center" style="margin-top: 35px;">
        <button class="layui-btn layui-btn-normal"  lay-submit lay-filter="LAY-message-submit">确认提交</button>
    </div>
</div>
<script>
    layui.data.done = function(d) {
        layui.use(['form'], function() {
            var form = layui.form;
            form.render(); //渲染该模板下的动态表单
        });
    };
</script>