<title>福卡</title>

<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a>
			<cite>福卡管理</cite>
		</a>
		<a>
			<cite>用户福卡明细</cite>
		</a>
	</div>
</div>
<style>
	.layui-inline .layui-input {
		margin-top: 5px;
		padding-right: 30px;
		cursor: pointer;
	}
</style>
<div class="layui-fluid">
	<div class="layui-card" style="padding:15px">

		<div class="layui-form" style="padding-bottom: 15px;">
			<div class="layui-row">
				<p class="xxx" style="display: none;">...</p>
				<div class="layui-col-md9">
					<div class="layui-inline">
						<label class="layui-form-label" style="margin-top: 5px;">用户名</label>
						<div class="layui-input-inline">
							<input name="userName" class="layui-input"  placeholder="昵称/手机号">
						</div>
					</div>

					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-list" style="margin-top: 5px;" lay-submit lay-filter="LAY-userCardRecord-search">
							搜索
						</button>
					</div>
				</div>


			</div>

		</div>
		<table id="LAY-userCardRecord-list" lay-filter="LAY-userCardRecord-list"></table>
	</div>
</div>
<script>
    layui.use('userCardRecord', layui.factory('userCardRecord'));
    layui.data.done = function(d) {
        layui.use(['form'], function() {
            var form = layui.form;
            form.render();
        });
    };
</script>