<title>
    编辑/新增 权限
</title>

<div class="layui-form layui-form-pane">
    <script type="text/html" template lay-url="{{layui.setter.apiUrl}}/hfz/use/userList" lay-done="layui.data.done(d);">
        <div class="layui-inline">
            <label class="layui-form-label" style="margin-top: 5px;">用户名</label>
            <div class="layui-input-inline">
                <select name="nickName" lay-search >
                    <option value="">请选择</option>
                    {{# layui.each(d.data, function(index, item){ }}
                    <option value="{{item.nickName}}">{{item.nickName}}</option>
                    {{# }); }}
                </select>
            </div>
        </div>

    </script>

        <div class="layui-form-item">
            <label class="layui-form-label">用户积分</label>
            <div class="layui-input-block">
                <input type="text" name="integral" class="layui-input" lay-verify="number" placeholder="用户积分">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">收益余额</label>
            <div class="layui-input-block">
                <input type="text" name="profit" class="layui-input"
                       placeholder="收益余额">
            </div>
        </div>

    <div class="layui-form-item" align="center" style="margin-top: 35px;">
        <button class="layui-btn layui-btn-normal"  lay-submit lay-filter="LAY-balance-submit">确认提交</button>
    </div>
</div>
<script>
    layui.data.done = function(d) {
        layui.use(['form'], function() {
            var form = layui.form;
            form.render(); //渲染该模板下的动态表单
        });
    };
</script>