<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoostec.hfz.dao.HfzUserCardMapper">
  <resultMap id="BaseResultMap" type="com.hoostec.hfz.entity.HfzUserCard">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="card_code" jdbcType="VARCHAR" property="cardCode" />
    <result column="card_num" jdbcType="INTEGER" property="cardNum" />
    <result column="card_level" jdbcType="INTEGER" property="cardLevel" />
    <result column="del_status" jdbcType="INTEGER" property="delStatus" />
  </resultMap>
  <!-- 添加  -->
  <insert id="insert" parameterType="com.hoostec.hfz.entity.HfzUserCard">
    INSERT INTO hfz_user_card(id
    <trim prefix="   ">
      <if test="userId != null"> , user_id</if>
      <if test="cardCode != null"> , card_code</if>
      <if test="cardNum != null"> , card_num</if>
      <if test="cardLevel != null"> , card_level</if>
      <if test="delStatus != null"> , del_status</if>
    </trim>
    )
    VALUES(default
    <trim prefix="   ">
      <if test="userId != null">, #{userId} </if>
      <if test="cardCode != null">, #{cardCode} </if>
      <if test="cardNum != null">, #{cardNum} </if>
      <if test="cardLevel != null">, #{cardLevel} </if>
      <if test="delStatus != null">, #{delStatus} </if>
    </trim>
    )
    <selectKey keyProperty="id" resultType="Integer">
      SELECT @@IDENTITY AS ID
    </selectKey>
  </insert>
  <!-- 查询满足条件的全部记录  -->
  <select id="selectAll" parameterType="com.hoostec.hfz.entity.HfzUserCard" resultMap="BaseResultMap">
    SELECT * FROM hfz_user_card
    <trim prefix=" WHERE " prefixOverrides="AND">
      <if test="id != null"> AND id = #{id} </if>
      <if test="userId != null"> AND user_id = #{userId} </if>
      <if test="cardCode != null"> AND card_code = #{cardCode} </if>
      <if test="cardNum != null"> AND card_num = #{cardNum} </if>
      <if test="cardLevel != null"> AND card_level = #{cardLevel} </if>
      <if test="delStatus != null"> AND del_status = #{delStatus} </if>
    </trim>
  </select>
  <!-- 修改 -->
  <update id="update" parameterType="com.hoostec.hfz.entity.HfzUserCard">
    UPDATE hfz_user_card
    <trim prefix=" SET  " prefixOverrides=",">
      <if test="userId != null"> , user_id = #{userId}</if>
      <if test="cardCode != null"> , card_code = #{cardCode}</if>
      <if test="cardNum != null"> , card_num = #{cardNum}</if>
      <if test="cardLevel != null"> , card_level = #{cardLevel}</if>
      <if test="delStatus != null"> , del_status = #{delStatus}</if>
    </trim>
    <trim prefix=" WHERE  " prefixOverrides="">
      <if test="id != 0"> id = #{id}</if>
    </trim>
  </update>
  <!-- 批量删除-->
  <delete id="deleteAll" parameterType="java.util.List">
    UPDATE hfz_user_card SET del_status=-1 WHERE id IN
    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>


  <select id="selectAllUser" parameterType="com.hoostec.hfz.entity.HfzUserCard" resultMap="BaseResultMap">
    SELECT hfz_user_card.* , hfz_user.nick_name userName, hfz_user.phone userPhone,hfz_card_type.name cardName FROM hfz_user_card left join hfz_user on  hfz_user_card.user_id=hfz_user.id
    left join hfz_card_type on hfz_user_card.card_id=hfz_card_type.id
    where hfz_user.user_status=1
      <if test="id != null"> AND hfz_user_card.id = #{id} </if>
      <if test="userId != null"> AND hfz_user_card.user_id = #{userId} </if>
      <if test="cardCode != null"> AND hfz_user_card.card_code = #{cardCode} </if>
      <if test="cardNum != null"> AND hfz_user_card.card_num = #{cardNum} </if>
      <if test="cardLevel != null"> AND hfz_user_card.card_level = #{cardLevel} </if>
      <if test="delStatus != null"> AND hfz_user_card.del_status = #{delStatus} </if>
      <if test="userName != null"> AND concat(hfz_user.nick_name,hfz_user.phone)  like '%${userName}%'  </if>

    order by hfz_user_card.id desc
  </select>
</mapper>